<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sorting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sorting
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="sorting-link">
                <a href="" class="dropdown-item">By Person</a>
                <a href="" class="dropdown-item ">By Star Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'quotations' %}" class="dropdown-item ">All Quotations</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-1 scrollable-menu" aria-labelledby="category-link">
                <a href="{% url 'quotations' %}" class="dropdown-item">All Categories</a>
                <div class="dropdown-divider"></div>
                {% for category in categories %}
                    <a href="{% url 'quotations' %}?category={{ category.name }}" class="dropdown-item">{{ category.display_name }}</a>
                {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ratings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Star Rating
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="ratings-link">
                <a href="" class="dropdown-item">5 star</a>
                <a href="" class="dropdown-item">4 star</a>
                <a href="" class="dropdown-item">3 star</a>
                <a href="" class="dropdown-item">2 star</a>
                <a href="" class="dropdown-item">1 star</a>
                <a href="" class="dropdown-item">No star</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">Favorites</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="featured-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Featured
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="featured-link">
                <a href="" class="dropdown-item">Albert Einstein</a>
                <a href="" class="dropdown-item">Carl Sagan</a>
                <a href="" class="dropdown-item">Steve Jobs</a>
                <a href="" class="dropdown-item">Abraham Lincoln</a>
                <a href="" class="dropdown-item">Mark Twain</a>
            </div>
        </li>

    </ul>
</div>