{% extends "base.html" %}
{% load static %}

{% block page_header %} 
    <div class="container header-container">
        <div class="row">
            <div class="col"> </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="quotation-container col-10 offset-1">
                <div class="row mt-5 mb-5">
                    <div class="col-12">
                        &nbsp; 
                    </div>
                </div>
                <div class="row">
                    {% for category in categories %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-1">
                                <div class="card-body pb-0">
                                    <a href="{% url 'quotations' %}?category={{ category.name }}"><p class="quote_text lead mb-0 font-weight-bold">{{ category.display_name }}</p></a>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="mb-0 text-left"><em>ID: {{ category.id }}</em> - key: {{ category.name }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-right px-0 mx-0">
                                            <a class="text-success" href="{% url 'quotations' %}?category={{ category.name }}"><i class="btn fa fa-search text-success mx-0 px-0"></i>Search</a> &nbsp; &nbsp;
                                            <a class="text-primary" href="{% url 'edit_category' category.id %}"><i class="fa fa-pencil text-primary"></i> Edit</a> &nbsp; &nbsp; 
                                            <a class="text-danger" href="{% url 'delete_category' category.id %}"><i class="fa fa-trash text-danger"></i> Delete</a> &nbsp; &nbsp; 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                &nbsp; 
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                &nbsp;
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                &nbsp; 
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                &nbsp; 
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-12 mb-1">
                        &nbsp; 
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
