{% extends "base.html" %}
{% load static %}

{% block page_header %} 
    <div class="container header-container h-25">
        <div class="row">
            <div class="col"> </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-auto">
            <!-- space above card -->
            <div class="col-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-12"> 
                <div class="card border-1">
                    <div class="row">
                        <div class="col-12">
                            &nbsp; 
                        </div>
                    </div>
                    <div class="card-body pb-0 mx-5 mt-5 mb-5">
                        <h1 class="lead mb-5 font-weight-bold">"{{ quotation.text }}"</h1>
                        <p class="mb-0 text-right"><em> &mdash; {{ quotation.person }}</em></p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-left">
                                {% if quotation.favorite %}
                                    <i class="fas fa-heart mr-1 mb-0 text-danger"></i>
                                {% else %}
                                    <i class="far fa-heart mr-1 mb-0 text-danger"></i>
                                {% endif %}
                            </div>
                            <div class="col-6 text-right">
                                {% if quotation.stars %}
                                    <small class="text-muted"><i class="fas fa-star mr-1 text-warning"></i>{{ quotation.stars }} / 5.0</small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-left">
                                <!--
                                    - get category name from category id in quotation.category
                                -->
                                {% if quotation.category %}
                                <i class="fas fa-tag mr-1"></i>
                                <a class="category-badge text-decoration-none text-muted mb-0" href="{% url 'quotations' %}?category={{ quotation.category.name }}">
                                    <span class="badge badge-pill badge-warning">{{ quotation.category.display_name }}</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-left">
                                <hr>
                                <p class="mb-0"><strong>Source:</strong> {{ quotation.source }}</p>
                                <p class="mb-0"><strong>Date Said:</strong> {{ quotation.dateSaid }}</p>
                                <p class="mb-0"><strong>Years Lived:</strong> {{ quotation.yearsLived }}</p>
                                <p class="mb-0"><strong>Birth Date:</strong> {{ quotation.birthdate }}</p>
                                <p class="mb-0"><strong>Real Name:</strong> {{ quotation.realName }}</p>
                                <p class="mb-0"><strong>Quote ID #</strong> {{ quotation.pk }}</p>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                            <!-- {% if request.user.is_superuser %} -->
                                <a class="btn btn-md border-black" id="edit_button" href="{% url 'edit_quotation' quotation.pk %}">
                                    <i class="fa fa-pencil text-primary" title="Edit quotation"></i> Edit
                                </a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-md border-black" id="delete_button" href="{% url 'delete_quotation' quotation.pk %}">
                                    <i class="fa fa-trash-o mr-1 text-danger" title="Delete quotation"></i> Delete
                                </a>
                            <!-- {% endif %} -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1 mb-1">
            <div class="col-12 mb-1">
                &nbsp; 
            </div>
        </div>

    </div>

{% endblock %}
